$table: 'table' !default;
$table-header-cell: 'th' !default;
$table-cell: 'td' !default;

%resizing {
    cursor: col-resize;
    user-select: none;
}

#{$table} {
    &.resizing {
        @extend %resizing;
    }

    #{$table-header-cell} {
        padding: 0 !important;

        span {
            position: relative;
            display: block;
            padding: 10px;

            &::before {
                @extend %resizing;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 1em;
            }
        }

        &:last-of-type::before {
            display: none;
        }
    }

    #{$table-cell} {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
